main{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 30px 30px;
  gap: 60px;
}

.office-area{
  user-select: none;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.image-content {
  position: relative;
  overflow: hidden;
  perspective: 800px;
}

.office-area h3{
  color: white;
}

.image-content:hover > .board{
  transform: translate(-50%, 0%) scale(1) rotateX(0deg);
}

.office-img{
  height: auto;
  width: 100%;
  display: block;
  pointer-events: none;
  min-height: 400px;
  object-fit: cover;
}

/*Criar animação que quando der hover no office ele subir o handunit*/
.board{
  position: absolute;
  width: 35%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 200%) scale(0.8) rotateX(25deg);
  transition: transform 0.35s ease-out;
  height: auto;
  pointer-events: none;
}

.hidden-btn{
  display: none;
}

@media (max-width: 768px){

  main{
    width: 100%;
    gap: 30px;
    padding: 20px 20px;
  }

  .office-area{
    gap: 15px;
    width: 100%;
  }

  .hidden-btn{
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
  }


  .button-activated .board{
    transform: translate(-50%, 0%) scale(1) rotateX(0deg);
    display: flex;
  }

  .image-content:hover > .board{
    transform: translate(-50%, 200%) scale(0.8) rotateX(25deg);
  }
}

@media (max-width: 425px){

  .office-area{
    text-align: center;
  }

  .office-img{
    object-position: center;
  }

  .board{
    width: 60%;
  }
}