main{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 30px 30px;
  gap: 60px;
}

.office-area{
  position: relative;
  overflow: hidden;
  perspective: 800px;
  user-select: none;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.office-area h3{
  color: white;
}

.office-area:hover > .board{
  transform: translate(-50%, 0%) scale(1) rotateX(0deg);
}

.office-img{
  height: auto;
  width: 100%;
  display: block;
  pointer-events: none;
}

/*Criar animação que quando der hover no office ele subir o handunit*/
.board{
  position: absolute;
  width: 35%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%) scale(0.8) rotateX(25deg);
  transition: transform 0.35s ease-out;
  height: auto;
  pointer-events: none;
}